
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/website" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="python, python developers, python frameworks, developers,  directory,web framework">
    <meta name="description" content="Map, statistics about python developers and python frameworks">
    <meta name="author" content="Carlos Leite">
    <title>Python People</title>

    <meta property="og:title" content="Python People" />
    <meta property="og:type" content="python developers" />
    <meta property="og:url" content="http://pythonpeople.znc.com.br" />

    <!-- http://ogp.me/ says-->
    <meta property="og:image" content="http://pythonpeople.znc.com.br/static/img/pythonpeople_250X200.jpg" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="2500" />
    <meta property="og:image" content="http://pythonpeople.znc.com.br/static/img/pythonpeople_500X350.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="350" />
    <meta property="og:image" content="http://pythonpeople.znc.com.br/static/img/pythonpeople_800X600.jpg"/>
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />

    <meta itemprop="name" content="Python Developers">
    <meta itemprop="description" content="Map, statistics about python developers and python frameworks">
    <meta itemprop="image" content="http://pythonpeople.znc.com.br/static/img/pythonpeople_800X600.jpg">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--  styles -->
    
    <link href="{{ STATIC_URL }}bootstraptwitter-2.1.1/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstraptwitter-2.1.1/responsive-min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
{% block css %}
{% endblock css %}
<STYLE TYPE="text/css">
body {
            padding-top: 40px;
        }
#top-loogin>button, input, select, textarea, a {
    vertical-align: top;
}
</STYLE>
  </head>
  <body>   
  <!--  <a href="http://github.com/cadu-leite/bootstrap_django_tags">
   <img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" style="position: absolute; top: 0; right: 0; border: 0; z-index:9000000;"> 
  </a>-->

<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
      <div class="container">
         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="brand" href="./index.html">
            <img src="{{ STATIC_URL }}img/python_logo.png" alt="Python Logo"  style="float:left;"/> &nbsp;
            <span style="color:#ffffff;font-size:22px;">
               Python People</span>
         </a>
         <div class="nav-collapse collapse">
            <ul class="nav">
               <li><a href="{% url user-profile-list %}">People</a></li>
               <li><a href="{% url python-group-list %}">Groups</a></li>
               <li><a href="{% url survey-new %}">Survey</a></li>
               <li><a href="{% url about %}">About</a></li>
               {% if not user.is_authenticated %}
               <li><a href="{% url user-register %}"> Register</a></li>
               <li><a href="{% url socialauth_begin 'twitter' %}" title="Sign in with Twitter" >
                  <img src="{{ STATIC_URL }}img/twitter-loggingwith.gif" alt="Sign in with Twitter "></a>&nbsp;</li>
               <li>
               <form id="top-login"  method="post" action="{% url login %}" style="margin:8px 0px 0px 0px;">
                  {% csrf_token %}{{ user_login_form.username }}&nbsp;{{ user_login_form.password }}
                  <button id="btn-top-login" type="submit" class="btn btn-mini primary" style="height:23px; font-size:12px;">
                     Sign in</button>&nbsp;&nbsp;
               </form>
               </li>
               {% else %}
               <a class="btn btn-mini btn-primary" href="{% url user-profile-form %}"> 
               <b>{% firstof user.get_profile.name user.username %} - Update your profile</b></a></li>
               <a  class="btn btn-mini btn-inverse" href="{% url logout %}">logout</a>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
</div>


  
  {% block header %}
  <div id="spacer" style="width:100%;height:40px;"></div>
  {% endblock header %}
  
  <div class="container">
    <div class="content">
      {% block contenttitle %}
      <div class="page-header">
        <h1>{%  block pagetitle %}{% endblock %}<small>{%  block pagesubtitle %}{% endblock %}</small></h1>
      </div>

      {% for message in messages %}
      <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}

      {% endblock contenttitle %}
      <div class="row"> 
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div><!-- /container -->
  
  <footer class="footer">
    <div class="container">
      <p class="pull-left"><a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a> Django is a registered trademark of the Django Software Foundation</p>
      <p class="pull-left"> Website built by Carlos Leite @ <a href="http://www.znc.com.br">ZNC Sistemas </a>. Powered by <a href="http://www.djangoproject.com/">django</a> and  <a href="http://twitter.github.com/ " target="_blank">Bootstrap Twitter</a> </p>
      <p class="pull-right"><a href="#">Back to top</a></p>
    </div>
  </footer>
<!-- Uservoice js -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/dTkjD2X87Lf0BrozrboLw.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4233082-2']);
  _gaq.push(['_setDomainName', 'znc.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>


<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">
  (function() {

  })();
</script>
<script type="text/javascript">

jQuery( function(){

    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  jQuery('#id_username').attr('placeholder','email address'); 
  jQuery('#id_password').attr('placeholder','password');


});
</script>

{% block js %}
{% endblock %}
</html>
