
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/website" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="python, python developers, python frameworks, developers,  directory,web framework">
    <meta name="description" content="Map, statistics about python developers and python frameworks">
    <meta name="author" content="Carlos Leite">
    <title>Python People</title>

    <meta property="og:title" content="Python People" />
    <meta property="og:type" content="python developers" />
    <meta property="og:url" content="http://pythonpeople.znc.com.br" />

    <!-- http://ogp.me/ says-->
    <meta property="og:image" content="http://pythonpeople.znc.com.br/static/img/pythonpeople_250X200.jpg" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="2500" />
    <meta property="og:image" content="http://pythonpeople.znc.com.br/static/img/pythonpeople_500X350.jpg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="350" />
    <meta property="og:image" content="http://pythonpeople.znc.com.br/static/img/pythonpeople_800X600.jpg"/>
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />

    <meta itemprop="name" content="Python Developers">
    <meta itemprop="description" content="Map, statistics about python developers and python frameworks">
    <meta itemprop="image" content="http://pythonpeople.znc.com.br/static/img/pythonpeople_800X600.jpg">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--  styles -->

    <link href="{{ STATIC_URL }}bootstrap-2.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap-2.2.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
{% block css %}
{% endblock css %}

  </head>
  <body>
  <!--  <a href="http://github.com/cadu-leite/bootstrap_django_tags">
   <img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" style="position: absolute; top: 0; right: 0; border: 0; z-index:9000000;">
  </a>-->
{% if not user.is_authenticated %}
<section id="top-bar">
  <div class="container">
    <div class="pull-right">
      <form id="top-login-form"  method="post" action="{% url login %}">
        {% csrf_token %}

          {{ user_login_form.username }}
          {{ user_login_form.password }}
          <button id="btn-top-login" type="submit" class="btn btn-mini">Sign in</button>
        <span style="color:#FFFFFF">&nbsp;&nbsp; or &nbsp;&nbsp;</span>
        <a href="{% url socialauth_begin 'twitter' %}" title="Sign in with Twitter" >
          <img src="{{ STATIC_URL }}img/sign-in-with-twitter-gray.png" alt="Sign in with Twitter ">
        </a>


      </form>
    </div>
  </div>
</section>
{% endif %}

<header>
   <div class="container">
      <div class="navbar navbar-inverse">
         <div class="navbar-inner">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
            <a class="brand" href="{% url home %}"/>
              <img src="{{ STATIC_URL }}img/python_logo_circle.png" alt="Python Logo"  style="vertical-align:middle"/>
               <span>Python</span><span style="color:#777;">People</span>.
            </a>
            <div class="nav-collapse collapse">
               <ul class="nav">
                  <li><a href="{% url user-profile-list %}">People</a></li>
                  <li><a href="{% url python-group-list %}">Groups</a></li>
                  <li><a href="{% url survey-new %}">Survey</a></li>
                  <li><a href="{% url about %}">About</a></li>
                  {% if not user.is_authenticated %}
                  <li><a href="{% url user-register %}"> Register</a></li>
                  {% else %}
                  <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{% firstof user.get_profile.name user.username %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url user-profile-form %}"><b>{% firstof user.get_profile.name user.username %} - Update your profile</b></a></li>
                      <li><a href="{% url logout %}">logout</a></li>
                    </ul>
                  </li>
                  <a class="btn btn-mini" href="{% url user-profile-form %}"><b>{% firstof user.get_profile.name user.username %} - Update your profile</b></a>
                  {% endif %}
               </ul>
            </div>
         </div>
      </div>
   </div>
</header>

<div class="wrapper">
  <div class="container">
    {% block top_content %}  {% endblock top_content %}
      {% block contenttitle %}
      <div class="page-header">
        <h1>{%  block pagetitle %}{% endblock %}<small>{%  block pagesubtitle %}{% endblock %}</small></h1>
      </div>

      {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}> {{ message }}</div>
      {% endfor %}

      {% endblock contenttitle %}

        {% block content %}
        {% endblock content %}

  </div><!-- /container -->
</div>

<footer class="footer">
   <div class="container">
    <div class="row">

      <div class="span4">
        <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
        <p class="pull-left"> Django is a registered trademark of the Django Software Foundation</p>
        <p class="pull-left"> Powered by <a href="http://www.djangoproject.com/">django</a> and  <a href="http://twitter.github.com/ " target="_blank">Bootstrap Twitter</a> </p>
      </div>
      <div class="span4">
        <p>GitHub -
            <a target="blank" href="https://github.com/znc-sistemas/python-people">https://github.com/znc-sistemas/python-people</a>
            </p>
            <p>
              <ul>
                <li><a href="https://github.com/znc-sistemas/python-people/issues">new features</a></li>
                <li><a href="https://github.com/znc-sistemas/python-people/issues">bugs</a></li>
              </ul>
            </p>
      </div>
      <div class="span4">
       <ul>
          <li><g:plusone></g:plusone></li>
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://people.python.org.br/" data-via="pythonpeople">Tweet</a>
            <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
          </li>
          <li>
            <a href="https://twitter.com/pythonpeople" class="twitter-follow-button" data-show-count="false">Follow @pythonpeople</a>
            <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
          </li>
        </ul>
      </div>

      <div class="span12">

        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
    </div>


   </div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4233082-2']);
  _gaq.push(['_setDomainName', 'znc.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>


<!-- <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script> -->

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-2.2.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
jQuery( function(){

    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  jQuery('#id_username').attr('placeholder','email address');
  jQuery('#id_password').attr('placeholder','password');


});
</script>

{% block js %}
{% endblock %}
</html>
