{% extends "base.html" %}
{% load bootstrap_tags %}
{% block css %}
{% endblock %}

{% block content_title %}<h1>Acesso ao Sistema</h1>{% endblock %}

{% block content %}
<div class="login" style="margin:auto;margin-top:60px;width:400px; ">
 <form method="post" action="{% if next %}?next={{ next }}{% endif %}">
     {% csrf_token %}
    <fieldset class="ui-widget ui-widget-content ui-corner-all">
        <div class="fields">
           
                {% if form.errors %}

                        <span class="error">Wrong user or password!</span>

                {% endif %}
                {% bootstrap_form form %}

                    <div class="submit-row">
                        <input type="submit" aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-state-focus ui-corner-all ui-button-text ui-button-text-only" value="Submit" />
                    </div>

        </div>
    </fieldset>
</form>

 <h3>Login using <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> from:</h3>
  <ul>
   <a href="{% url socialauth_begin 'twitter' %}">Enter using Twitter</a>
  </ul>

<div class="ui-widget ui-widget-content ui-corner-all" style="position: relative; width: 370px; height: 50px;  top: 30px; padding: 10px;">
<div style="background: none repeat scroll 0% 0% transparent; border: 0pt none;" class="ui-dialog-content ui-widget-content">
<p> Dont have a login ? <a href="{% url user-register %}">Register</a></p>
</div>
</div>
<div class="ui-widget ui-widget-content ui-corner-all" style="position: relative; width: 370px; height: 50px;  top: 30px; padding: 10px;">
<div style="background: none repeat scroll 0% 0% transparent; border: 0pt none;" class="ui-dialog-content ui-widget-content">
<p>Forgot your password  ?   <a href="{% url password-reset %}">Reset password</a></p> 
</div>
</div>
</div>
{% endblock %}