{% extends "base.html" %}
{% load bootstrap_tags %}
{% block pagetitle%}Password Reset{% endblock %}  
{% block pagesubtitle%}Inform your email address to recieve a new password{% endblock %}
{% block content %}
{% if validlink %}
  <form method="post">
    {% csrf_token %}
    {% if form.has_errors %}
    {% endif %}
    <fieldset >

{% bootstrap_form form %}

</fieldset>
    <div class="actions span12">
      <button type="submit" class="btn primary"> Reset Password </button>
      <button type="reset" class="btn default"> Reset</button>
    </div>
</form>
{% else %}
<div class="alert-message danger">The password reset link was invalid</div>
{% endif %}
{% endblock %}



