Django==1.4
Markdown==2.1.1
PIL==1.1.7
argparse==1.2.1
distribute==0.6.24
django-gravatar==0.1.0
django-social-auth==0.7.10
django-voting==0.1
httplib2==0.7.4
oauth2==1.5.211
psycopg2==2.4.5
python-openid==2.2.5
